*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;
}
.calculator{
  width: 100%;
  max-width: 400px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  overflow: hidden;
}
.display{
  height: 75px;
  background-color: black;
  color: white;
  text-align: right;
  padding: 16px;
  font-size: 25px;
}
.display span{
  font-size: 15px;
  color: lightslategray;
  margin-right: 10px;
}
button{
  appearance: none;
  border: none;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  color: white;
  transition: 0.4s;
}
button:hover{
  opacity: 0.8;
}
.operator{
  width: 100%;
  display: flex;
}
.operator button{
  background-color: rgb(253, 60, 60);
  flex-shrink: 1;
  flex-grow: 1;
  flex-shrink: 0%;
}
.digits{
  display: flex;
  flex-wrap: wrap;
}
.digits button{
  background-color: black;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33.33%;
}
.digits .equal{
  background-color: red;
}